.add-catalog__title {
  @include oswald-reg;
  font-size: 24px;
  line-height: 24px;
  color: $black;
  width: 320px;
  margin: 0 auto;
}

.add-catalog__title-line {
  margin: 0;
  display: inline-block;
  background-color: $white;
  padding: 0 23px 0 20px;
}

.add-catalog__title-wrapper {
  position: relative;
  margin-bottom: 36px;

  &::after {
    display: block;
    content: "";
    position: absolute;
    top: 16px;
    right: 0;
    height: 2px;
    background-color: $basicgreen;
    z-index: -1;
    width: 70%;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 81px;
  }
}

.add-catalog__list {
  @include list-style;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.add-catalog__stock {
  position: relative;
  padding: 187px 61px 43px 58px;
  background-image: linear-gradient(
  hsl(97 53% 47% / 85%),
  hsl(97 53% 47% / 85%)
  ),
    url("../img/background/cat-case.jpg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    padding: 71px 124px 69px 422px;
    background-image: linear-gradient(
  hsl(97 53% 47% / 85%),
  hsl(97 53% 47% / 85%)
  ),
      url("../img/background/gift.jpg");
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    padding: 185px 42px 42px 42px;
  }
}

.add-catalog__stock::before {
  content: "";
  position: absolute;
  top: 59px;
  left: 50%;
  transform: translateX(-50%);
  width: 78px;
  height: 80px;
  background-image: url("../img/icon/gift.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    top: 57px;
    left: 77px;
    width: 80px;
    height: 83px;
  }
}

.add-catalog__stock-description {
  font-size: 16px;
  line-height: 20px;
  color: $white;
  margin: 0;
  text-align: center;
}

@media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
  .add-catalog__stock-description {
    text-align: left;
  }
}

@media (min-width: $tablet-width) {
  .add-catalog__list {
    margin-bottom: 69px;
  }

  .add-catalog__title {
    width: 708px;
  }

  .add-catalog__title-line {
    padding: 0 36px 0 37px;
  }

  .add-catalog__title-wrapper::before {
    display: block;
    content: "";
    position: absolute;
    top: 16px;
    left: 0;
    height: 2px;
    background-color: $basicgreen;
    z-index: -1;
    width: 40%;
  }
}

@media (min-width: $desktop-width) {
  .add-catalog__wrapper {
    display: grid;
    grid-template-columns: 896px 245px;
    gap: 80px;
  }

  .add-catalog__list {
    margin-bottom: 0;
  }

  .add-catalog__title-line {
    padding: 0 35px 0 40px;
  }

  .add-catalog__title {
    width: 1300px;
  }
}
