.add-catalog__title {
  @include oswald-reg;
  font-size: 24px;
  line-height: 24px;
  color: $black;
  width: 320px;
  margin: 0 auto;
}

.add-catalog__title-line {
  margin: 0;
  display: inline-block;
  background-color: #ffffff;
  padding: 0 23px 0 20px;
}

.add-catalog__title-wrapper {
  position: relative;

  &::after {
    display: block;
    content: "";
    position: absolute;
    top: 16px;
    right: 0;
    height: 2px;
    background-color: $basicgreen;
    z-index: -1;
    width: 70%;
  }
}

.add-catalog__list {
  @include list-style;
  margin-bottom: 35px;
}

.add-catalog__stock {
  background-image: linear-gradient(
  hsl(97 53% 47% / 85%),
  hsl(97 53% 47% / 85%)
  ),
    url("../img/background/cat-case.jpg");
}

.add-catalog__stock-description {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .add-catalog__list {
    margin-bottom: 69px;
  }

  .add-catalog__title {
    width: 708px;
  }

  .add-catalog__title-line {
    padding: 0 36px 0 37px;
  }

  .add-catalog__title-wrapper::before {
    display: block;
    content: "";
    position: absolute;
    top: 16px;
    left: 0;
    height: 2px;
    background-color: $basicgreen;
    z-index: -1;
    width: 40%;
  }
}

@media (min-width: $desktop-width) {
  .add-catalog__wrapper {
    display: grid;
    grid-template-columns: 896px 245px;
    gap: 80px;
  }

  .add-catalog__list {
    margin-bottom: 0;
  }

  .add-catalog__title-line {
    padding: 0 35px 0 40px;
  }

  .add-catalog__title {
    width: 1300px;
  }
}
