.add-product {
  padding: 13px 0 19px;
  border-top: 1px solid #cdcdcd;

  &--last {
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    padding: 25px 38px 28px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding: 15px 16px;
  }
}

@media (min-width: $tablet-width) {
  .add-product__wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
  .add-product__wrapper {
    margin-bottom: 25px;
  }
}

.add-product__title {
  @include oswald-reg;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
  }
}

.add-product__description {
  line-height: 20px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 38px;
    width: 264px;
  }
}

.add-product__button {
  width: 100%;

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.add-product__count {
  line-height: 20px;
  margin-right: 15px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.add-product__price {
  margin: 0;
  min-width: 40px;
}

@media (min-width: $desktop-width) {
  .add-product__title,
  .add-product__description {
    max-width: 245px;
  }
}
