.add-product__title {
  @include oswald-reg;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: rgb(34, 34, 34);
  margin: 0;
}

.add-product__descriptio {
  line-height: 20px;
}
