.advantages__title {
  @include oswald-reg;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}

.advantages__list {
  @include list-style;
  display: grid;
  gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 247px 247px;
    gap: 37px 136px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 247px 247px 247px 247px;
    gap: 77px;
  }
}
