.advantages__title {
  @include oswald-reg;
  font-size: 36px;
  line-height: 40px;
  color: $black;
  margin: 0;
  margin-bottom: 40px;
}

.advantages__list {
  @include list-style;
  display: grid;
  gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 247px 247px;
    gap: 37px 136px;
    counter-reset: number 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 247px 247px 247px 247px;
    gap: 77px;
  }
}

.advantages__item {
  padding-left: 80px;
  position: relative;
  counter-increment: number;

  &::after {
    @include oswald-reg;
    content: counter(number);
    font-size: 280px;
    line-height: 280px;
    color: $basicgrey;
    position: absolute;
    right: 30px;
    top: 0;
    font-weight: normal;
  }
}
