.basic-catalog__item {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.basic-catalog__list {
  display: grid;
}

@media (max-width: $mobile-width-only) {
  .basic-catalog__card-wrapper {
    border-bottom: 1px solid #ebebeb;
    padding-top: 19px;
    padding-bottom: 24px;

    &--show-all {
      padding-top: 25px;
    }
  }
}

@media (min-width: $tablet-width) {
  .basic-catalog__list {
    width: 768px;
    padding: 0 30px;
    margin: 0 auto;
    grid-template-columns: 324px 324px;
    gap: 141px 60px;
  }
}

@media (min-width: $desktop-width) {
  .basic-catalog__list {
    width: 1440px;
    padding: 0 110px;
    grid-template-columns: 245px 245px 245px 245px;
    gap: 140px 80px;
  }
}

.basic-catalog__offer {
  @include oswald-reg;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  text-align: center;
  margin-bottom: 8px;

  @media (max-width: $mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 22px;
  }
}

.basic-catalog__offer-count {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  text-align: center;
  margin-bottom: 21px;

  @media (max-width: $mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 87px;
    font-size: 16px;
  }
}

.basic-catalog__item--show-all {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #ffffff;
  padding-top: 53px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 2px;
    height: 30px;
    background-color: #d3d3d3;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
    top: 14px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: $tablet-width) {
  .basic-catalog__item--show-all {
    width: 324px;
    padding: 161px 37px 38px 38px;
    border: 2px solid $basicgrey;

    &::after {
      height: 60px;
      top: 52px;
    }

    &::before {
      width: 60px;
      top: 82px;
    }
  }
}

@media (min-width: $desktop-width) {
  .basic-catalog__item--show-all {
    width: 245px;
    padding: 161px 37px 41px 37px;
  }
}
