.button {
  @include oswald-reg;
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  background-color: $basicgreen;
  padding: 14px 26px;
  border: none;

  &--show-all {
    background-color: $basicgrey;
    color: $special-dark-grey;

    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      background-color: #ebebeb;
      color: rgba($color: $special-dark-grey, $alpha: 0.3);
    }
  }

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba($color: #ffffff, $alpha: 0.3);
  }
}
