.button {
  @include oswald-reg;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  text-align: center;
  background-color: $basicgreen;
  padding: 10px 10px;
  border: none;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba($color: $white, $alpha: 0.3);
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.button--choose-program {
  padding: 11px;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding: 17px 26px;
  }
}

.button--add {
  padding: 7px;
  line-height: 26px;
}

.button--form {
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    padding: 13px 0;
  }
}

.button--show-all {
  font-size: 16px;
  line-height: 20px;
  background-color: $basicgrey;
  color: $specialdarkgrey;
  width: 100%;
  padding: 10px 10px;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    color: rgba($color: $specialdarkgrey, $alpha: 0.3);
  }
}
