.button {
  @include oswald-reg;
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: $basicgreen;
  padding: 14px 26px;
  border: none;

  &--show-all {
    background-color: $basicgrey;
    color: $special-dark-grey;
  }
}
