.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 163px;
  }
}

.copyright__link {
  text-decoration: none;
  color: $specialdarkgrey;
  display: inline-block;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    margin-right: 22px;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

.copyright__logo-link {
  display: block;
}

.copyright__logo-icon {
  color: #666666;
  display: block;
}

.copyright__logo-link:hover .copyright__logo-icon {
  color: $basicgreen;
}

.copyright__logo-link:active .copyright__logo-icon {
  color: rgba(104, 183, 56, 0.3);
}
