.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 163px;
  }
}

.copyright__link {
  text-decoration: none;
  color: $special-dark-grey;
  display: inline-block;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    margin-right: 22px;
  }
}

.copyright__logo-link {
  display: block;
}
