.example {
  background-color: #eaeaea;
  padding-top: 25px;
  padding-bottom: 40px;
}

.example__title {
  @include oswald-reg;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}

.example__description {
  margin: 0;
  margin-bottom: 20px;
}

.example__results {
  margin-bottom: 20px;
}

.example__number {
  @include oswald-reg;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}

.example__results-description {
  font-size: 12px;
  line-height: 12px;
}

.example__cost {
  @include oswald-reg;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 40px;
}
