.hero {
  background-image: url("../img/background/barsik.jpg");
  background-repeat: no-repeat;
}

.hero__wrapper {
  background-color: rgba(104, 183, 56, 0.85);
}

.hero__title {
  @include oswald-reg;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

.hero__slogan {
  @include oswald-reg;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

.hero__img {
  display: block;
}

