.hero {
  position: relative;
}

@media (max-width: $mobile-width-only) {
  .hero {
    background-image: linear-gradient(
      hsl(97 53% 47% / 85%),
      hsl(97 53% 47% / 85%)
  ),
      url("../img/background/bg-hero-mobile.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: 100% 63%, 100% 63%;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(
        hsl(97 53% 47% / 85%),
        hsl(97 53% 47% / 85%)
  ),
        url("../img/background/bg-hero-mobile@2x.jpg");
    }
  }
}


.hero__wrapper {
  padding: 25px 20px 0 20px;
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 30px 30px 526px 120px;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    padding: 82px 110px 267px 190px;
    width: 1440px;
  }
}

.hero__title {
  @include oswald-reg;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $white;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    color: $black;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    max-width: 440px;
  }
}

.hero__slogan {
  @include oswald-reg;
  line-height: 14px;
  text-align: center;
  color: $white;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    color: $black;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    max-width: 440px;
  }
}

.hero__img {
  display: block;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    width: 708px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    top: 0;
    left: 58%;
    width: 552px;
    height: 499px;
  }
}

.hero__button {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: max-content;
  }
}
