.main-catalog__title {
  margin-top: 27px;
  margin-bottom: 41px;
}

.main-catalog__contacts {
  background-color: #f2f2f2;
}

.main-catalog__add-catalog {
  margin-bottom: 35px;
}

@media (max-width: $mobile-width-only) {
  .main-catalog__title-wrapper {
    border-bottom: 1px solid #ebebeb;
    padding-top: 27px;
    padding-bottom: 41px;
  }

  .main-catalog__title {
    width: 320px;
    padding: 0 20px;
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .main-catalog__title {
    width: 768px;
    padding: 0 30px;
    margin: 0 auto;
  }

  .main-catalog__title-wrapper {
    margin-top: 32px;
    margin-bottom: 82px;
  }

  .main-catalog__add-catalog {
    margin-bottom: 76px;
  }
}

@media (min-width: $desktop-width) {
  .main-catalog__title {
    width: 1440px;
    padding: 0 110px;
    margin: 0 auto;
  }

  .main-catalog__title-wrapper {
    margin-top: 45px;
    margin-bottom: 84px;
  }

  .main-catalog__add-catalog {
    margin-bottom: 86px;
  }
}
