.main-index {
  flex-grow: 1;
}

.main-index__hero {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.main-index__meal-program {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}

.main-index__advantages {
  margin-bottom: 51px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}
