.main-catalog__contacts {
  background-color: $basicgrey;
}

.main-catalog__add-catalog {
  margin-bottom: 35px;
}

.main-catalog__basic-catalog {
  margin-bottom: 25px;
}

@media (max-width: $mobile-width-only) {
  .main-catalog__title-wrapper {
    border-bottom: 1px solid #ebebeb;
    padding-top: 27px;
    padding-bottom: 41px;
  }

  .main-catalog__title {
    width: 320px;
    padding: 0 20px;
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .main-catalog {
    padding-top: 32px;
  }

  .main-catalog__title-wrapper {
    width: 768px;
    padding: 0 30px;
    margin: 0 auto;
    margin-bottom: 163px;
  }

  .main-catalog__add-catalog {
    margin-bottom: 76px;
  }

  .main-catalog__basic-catalog {
    margin-bottom: 68px;
  }
}

@media (min-width: $desktop-width) {
  .main-catalog {
    padding-top: 45px;
  }

  .main-catalog__title-wrapper {
    width: 1440px;
    padding: 0 110px;
    margin: 0 auto;
    margin-bottom: 165px;
  }

  .main-catalog__add-catalog {
    margin-bottom: 86px;
  }

  .main-catalog__basic-catalog {
    margin-bottom: 76px;
  }
}
