.main-header {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 30px 34px;
    width: 768px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 53px 110px 29px;
    margin: 0 auto;
  }
}

.main-header__logo-wrapper {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  position: relative;

  @media (max-width: $mobile-width-only) {
    width: 280px;
    margin: 0 auto;
    padding: 10px 0 18px;
  }
}

.main-header__logo-link {
  display: block;
}

.main-header__toggle {
  display: inline-block;
  width: 24px;
  height: 38px;
  padding: 0;
  align-self: center;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 24px 16px;
  background-position: right center;

  &--closed {
    background-image: url("../img/icon/toggle-burger.svg");
  }

  &--open {
    background-image: url("");
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
