.main-header__logo-link {
  display: block;
}

.main-nav__list {
  @include list-style;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
}

.main-nav__link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  display: block;
}
