.main-footer {
  background-color: $basicgrey;
}

.main-footer__logo-link {
  display: block;
  padding: 39px 76px 31px;

  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid #d9d9d9;
  }
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: $mobile-width-only) {
  .main-footer__copyright {
    padding: 22px 0;
    border-top: 1px solid #d9d9d9;
  }
}

