.main-nav__list {
  @include list-style;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: flex-end;
    min-width: 470px;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.main-nav__link {
  text-decoration: none;
  color: $black;
  text-transform: uppercase;
  display: block;
  padding: 22px 0 23px;
  font-size: 20px;
  line-height: 20px;
  border-bottom: 2px solid transparent;

  &:hover {
    color: rgba($color: #000000, $alpha: 0.6);
  }

  &:active {
    color: rgba($color: #000000, $alpha: 0.3);
  }

  @media (min-width: $tablet-width) {
    padding: 10px 0;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding: 8px 0;
    font-size: 20px;
    line-height: 30px;
  }

  &--active {
    @media (min-width: $tablet-width) {
      border-color: $basicgreen;
    }
  }

  &--index-active {
    @media (min-width: $desktop-width) {
      border-color: #ffffff;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav__link--index {
    color: #ffffff;

    &:hover {
      color: rgba($color: #ffffff, $alpha: 0.6);
    }

    &:active {
      color: rgba($color: #ffffff, $alpha: 0.3);
    }
  }
}

.main-nav__item {
  &:last-child {
    margin-right: 0;

    @media (max-width: $mobile-width-only) {
      border-bottom: 1px solid #e6e6e6;
    }
  }

  @media (min-width: $tablet-width) {
    margin-right: 35px;
  }

  @media (max-width: $mobile-width-only) {
    border-top: 1px solid #e6e6e6;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav {
    &--closed {
      display: none;
    }

    &--opened {
      position: absolute;
      left: 0;
      top: 66px;
      z-index: 1;
      background-color: #ffffff;
      width: 100%;
    }

    &--no-js {
      display: block;
      position: static;
    }
  }
}
