.product-card__link-img {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.product-card__link-title {
  display: block;
  text-decoration: none;
  margin-bottom: 18px;
}

.product-card__title {
  @include oswald-reg;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  width: 76px;
}

.product-card__description-item {
  display: flex;
  justify-content: space-between;
}

.product-card__description {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

.product-card__description-value {
  margin: 0;
}

.product-card__description-trait {
  margin-right: 15px;
}

.product-card__img {
  display: block;
}

@media (max-width: $mobile-width-only) {
  .product-card {
    display: grid;
    grid-template-columns: 140px 140px;
  }

  .product-card__button {
    grid-column: 1/-1;
    margin-top: 13px;
  }

  .product-card__text-wrapper {
    min-height: 112px;
  }

  .product-card__link-img--chicken500 {
    padding-bottom: 12px;
  }

  .product-card__link-img--fish500 {
    padding-bottom: 7px;
  }

  .product-card__link-img--buckweat500,
  .product-card__link-img--rice500 {
    padding-bottom: 4px;
  }
}

@media (min-width: $tablet-width) {
  .product-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 324px;
    padding: 0 36px 39px 36px;
    background-color: $basicgrey;
  }

  .product-card__title {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    width: 150px;
  }

  .product-card__link-img {
    align-self: center;
    margin-bottom: 34px;

    &--big {
      margin-top: -73px;
    }

    &--small {
      margin-top: -47px;
    }
  }

  .product-card__text-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .product-card__link-title {
    align-self: center;
    margin-bottom: 16px;
  }

  .product-card__description {
    margin-bottom: 33px;
    font-size: 16px;
    line-height: 16px;
  }

  .product-card__description-item {
    padding-top: 5px;
    padding-bottom: 9px;
    border-bottom: 1px solid #cdcdcd;
  }

  .product-card__img {
    &--big {
      width: 168px;
      height: 200px;
    }

    &--chicken500,
    &--buckweat500 {
      width: 161px;
      height: 172px;
    }

    &--fish500,
    &--rice500 {
      width: 163px;
      height: 174px;
    }
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    width: 245px;
    padding: 0 30px 40px 35px;
  }

  .product-card__title {
    line-height: 21px;
  }

  .product-card__link-img {
    &--big {
      margin-bottom: 46px;
      margin-top: -80px;
    }

    &--small {
      margin-bottom: 42px;
      margin-top: -52px;
    }
  }

  .product-card__link-title {
    margin-bottom: 22px;
  }

  .product-card__description-item {
    padding-top: 6px;
    padding-bottom: 10px;
  }

  .product-card__img {
    &--big {
      width: 172px;
      height: 196px;
    }
  }
}
