.program-select {
  padding-top: 28px;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding-top: 33px;
    padding-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 44px;
    padding-bottom: 82px;
  }
}

.program-select__title {
  margin-bottom: 37px;
}

.program-select__form-group {
  border: none;
  padding: 0;
  margin: 0;

  &--lined {
    position: relative;
  }
}

.program-select__form-group--lined::before {
  content: "";
  display: block;
  position: absolute;
  width: 67%;
  top: 16px;
  right: 0;
  height: 2px;
  background-color: $basicgreen;
  z-index: -1;

  @media (min-width: $tablet-width) {
    width: 100%;
    top: 23px;
  }
}

.program-select__description {
  @include oswald-reg;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 39px;
}

.program-select__form-group-title {
  @include oswald-reg;
  font-size: 24px;
  line-height: 26px;
  color: $black;
  max-width: 207px;
  width: fit-content;
  margin: 0;
  background-color: $white;
  padding-right: 22px;
  margin-bottom: 36px;

  &--comment {
    margin-bottom: 38px;
  }

  &--add {
    margin-bottom: 34px;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    max-width: 594px;
    padding-right: 40px;
    padding-left: 40px;
    margin-left: -40px;
    margin-bottom: 76px;

    br {
      display: none;
    }

    &--comment {
      margin-bottom: 76px;
    }

    &--add {
      margin-bottom: 57px;
    }
  }
}

.program-select__form-hint {
  text-align: center;
  margin: 0;
  align-self: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    justify-self: start;
  }
}

.program-select__button-wrapper {
  display: grid;
  gap: 21px;
}

@media (max-width: $mobile-width-only) {
  .program-select__line-wrapper {
    border-bottom: 1px solid #ebebeb;
  }

  .program-select__contact-wrapper {
    margin-bottom: 24px;
  }

  .program-select__form-group--centered {
    width: 320px;
    padding: 0 20px;
    margin: 0 auto;
  }

  .program-select__wrapper {
    margin-bottom: 24px;
  }
}

@media (min-width: $tablet-width) {
  .program-select__title {
    margin-bottom: 54px;
  }

  .program-select__description {
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
  }

  .program-select__filter-list {
    gap: 18px;
  }

  .program-select__button-wrapper {
    display: grid;
    grid-template-columns: 283px 283px;
    gap: 61px;
  }
}

@media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
  .program-select__form-group--centered {
    width: 768px;
    padding: 0 70px;
    margin: 0 auto;
  }

  .program-select__contact-wrapper {
    margin-bottom: 67px;
  }

  .program-select__button-wrapper {
    padding: 0 70px;
  }

  .program-select__wrapper {
    margin-bottom: 74px;
  }
}

@media (min-width: $desktop-width) {
  .program-select__title {
    margin-bottom: 56px;
  }

  .program-select__wrapper {
    width: 1440px;
    padding: 0 110px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 568px 568px;
    gap: 81px;
    margin-bottom: 69px;
  }

  .program-select__contact-wrapper {
    margin-bottom: 69px;
  }

  .program-select__button-wrapper {
    grid-template-columns: 568px 568px;
    gap: 81px;
  }
}

.program-select__form-group--cat-info {
  @media (max-width: $mobile-width-only) {
    padding-bottom: 24px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.program-select__form-group--comment {
  @media (max-width: $mobile-width-only) {
    margin-bottom: 21px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 62px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 62px;
  }
}
