.program-card {
  background-color: $basicgrey;
  padding: 21px 20px 18px;
}

.program-card__title {
  @include oswald-reg;
  font-size: 24px;
  line-height: 37px;
  color: $black;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 22px;
  background-repeat: no-repeat;
  background-position: left top;

  &--slim {
    padding: 11px 0 7px 69px;
    background-image: url("../img/icon/cat-slim.svg");
    background-size: 50px 53px;
  }

  &--weight-gain {
    padding: 7px 0 7px 78px;
    background-image: url("../../img/icon/cat-gain.svg");
    background-size: 67px 50px;
    margin-left: -7px;
  }
}

.program-card__description {
  margin: 0;
  margin-bottom: 15px;

  @media (max-width: $mobile-width-only) {
    padding-right: 13px;
    padding-bottom: 23px;
    border-bottom: 1px solid #d9d9d9;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    br {
      display: none;
    }
  }
}

.program-card__link {
  @include oswald-reg;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: $black;
  display: inline-block;
  padding: 4px 49px 4px 0;
  background-image: url("../img/icon/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 32px 10px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-right: 57px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    padding-right: 60px;
  }
}

@media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
  .program-card {
    background-repeat: no-repeat;
    padding: 77px 28px 53px 52px;

    &--slim {
      background-image: url("../../img/icon/cat-slim.svg");
      background-size: 200px 211px;
      background-position: right 62px top 81px;
    }

    &--weight-gain {
      background-image: url("../../img/icon/cat-gain.svg");
      background-size: 200px 211px;
      background-position: right 28px top 91px;
    }
  }

  .program-card__title {
    padding: 0;
    background: none;
    margin-bottom: 24px;
  }

  .program-card__description {
    margin-bottom: 48px;
  }
}

@media (min-width: $tablet-width) {
  .program-card__title {
    font-size: 36px;
    line-height: 36px;
  }

  .program-card__description {
    font-size: 16px;
    line-height: 24px;
    color: $black;
  }
}

@media (min-width: $desktop-width) {
  .program-card {
    padding: 41px 51px  55px 52px;
  }

  .program-card__title {
    margin: 0;
    margin-bottom: 39px;
    background-repeat: no-repeat;
    background-position: left top;

    &--slim {
      padding: 40px 0 34px 162px;
      background-image: url("../img/icon/cat-slim.svg");
      background-size: 100px 106px;
    }

    &--weight-gain {
      padding: 36px 0 36px 181px;
      background-image: url("../../img/icon/cat-gain.svg");
      background-size: 134px 100px;
      margin-left: -19px;
    }
  }

  .program-card__description {
    margin-bottom: 23px;
  }
}
