.program-select__title {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  margin-top: 27px;
  margin-bottom: 37px;
}

.program-select__form-group {
  border: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.program-select__description {
  @include oswald-reg;
  text-transform: uppercase;
  margin-bottom: 39px;
}

.program-select__form-control {
  @include oswald-reg;
  text-transform: uppercase;
  font-size: 16px;
  color: $special-dark-grey;

  &--radio {
    color: #222222;
  }

  &--checkbox {
    color: $black;
  }
}

.program-select__form-group-title {
  @include oswald-reg;
  font-size: 24px;
  line-height: 26px;
  color: $black;
  width: 320px;
  padding: 0;
  margin: 0 auto;
}

.program-select__title-line {
  display: inline-block;
  max-width: 227px;
  padding: 0 20px;
  margin: 0;
  background-color: #ffffff;
}

.program-select__title-line::after {
  display: block;
  content: "";
  position: absolute;
  top: 16px;
  right: 0;
  height: 2px;
  background-color: $basicgreen;
  z-index: -1;
  width: 70%;
}

.program-select__form-hint {
  text-align: center;
  margin: 0;
}

.program-select__filter-list {
  @include list-style;
  display: grid;
  gap: 13px;

  &--add {
    padding: 0 20px;
    margin: 0 auto;
  }
}

.program-select__button-wrapper {
  display: grid;
  gap: 28px;
}

@media (max-width: $mobile-width-only) {
  .program-select__line-wrapper {
    border-bottom: 1px solid #ebebeb;
  }

  .program-select__contact-wrapper {
    padding-top: 35px;
    padding-bottom: 24px;
  }

  .program-select__form-group--centered {
    width: 320px;
    padding: 0 20px;
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .program-select__title {
    width: 768px;
    padding: 0 70px;
    margin-top: 33px;
    margin-bottom: 54px;
  }

  .program-select__description {
    margin-bottom: 66px;
  }

  .program-select__filter-list {
    gap: 18px;
  }

  .program-select__filter-list--purpose {
    border: 1px solid #e7e7e7;
  }

  .program-select__form-group-title {
    width: 708px;
  }

  .program-select__title-line::before {
    display: block;
    content: "";
    position: absolute;
    top: 16px;
    left: 0;
    height: 2px;
    background-color: $basicgreen;
    z-index: -1;
    width: 40%;
  }

  .program-select__filter-list--add {
    grid-template-columns: 283px 283px;
    gap: 32px 62px;
    padding: 0 70px;
    margin: 0 auto;
  }

  .program-select__button-wrapper {
    display: grid;
    grid-template-columns: 283px 283px;
    gap: 32px;
  }

  .program-select__title-line {
    max-width: max-content;
    padding: 0 40px;
  }
}

@media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
  .program-select__form-group--centered {
    width: 768px;
    padding: 0 70px;
    margin: 0 auto;
  }

  .program-select__description {
    padding: 0 70px;
  }

  .program-select__contact-wrapper {
    padding: 0 70px;
    padding-top: 76px;
    padding-bottom: 65px;
  }

  .program-select__button-wrapper {
    padding: 0 70px;
  }
}

@media (min-width: $desktop-width) {
  .program-select__title {
    width: 1440px;
    padding: 0 110px;
    margin-top: 44px;
    margin-bottom: 56px;
  }

  .program-select__wrapper {
    width: 1440px;
    padding: 0 110px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 568px 568px;
    gap: 81px;
  }

  .program-select__contact-wrapper {
    padding: 0 110px;
    padding-top: 76px;
    padding-bottom: 69px;
  }

  .program-select__filter-list--add {
    grid-template-columns: 244px 244px 244px 244px;
    gap: 81px;
    padding: 0 110px;
    margin: 0 auto;
  }

  .program-select__button-wrapper {
    grid-template-columns: 568px 568px;
    gap: 81px;
  }

  .program-select__form-group-title {
    width: 1300px;
  }
}

.program-select__form-group--cat-info {
  @media (max-width: $mobile-width-only) {
    padding-bottom: 24px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.program-select__form-group--comment {
  @media (max-width: $mobile-width-only) {
    margin-bottom: 23px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
  }
}
