.social {
  @include list-style;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;

  @media (min-width: $tablet-width) {
    padding: 4px 0 8px;
  }
}

.social__link {
  display: block;
}

.social__item {
  margin-right: 24px;

  &:last-child {
    margin-right: 0;
  }
}

.social__icon {
  fill: #666666;
}

.social__link:hover .social__icon {
  fill: $basicgreen;
}

.social__link:active .social__icon {
  fill: rgba(104, 183, 56, 0.3);
}
