@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff2") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff2") format("woff");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.page {
  height: 100%;
}

.page__body {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  background-color: #ffffff;
  margin: 0;
  height: 100%;
  min-width: 320px;
}

@media (min-width: 1440px) {
  .page__body--index {
    background-image: linear-gradient(rgba(105, 183, 56, 0.85), rgba(105, 183, 56, 0.85)), url("../img/background/barsik-desktop.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 50% 694px;
  }
}
.container {
  margin: 0 auto;
  width: 320px;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 110px;
  }
}

.main-header__wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .main-header__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    width: 768px;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .main-header__wrapper {
    width: 1440px;
    padding: 0 110px;
    margin: 0 auto;
  }
}

.main-header__logo-wrapper {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 10px 0 18px;
}
@media (max-width: 767px) {
  .main-header__logo-wrapper {
    width: 280px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .main-header__logo-wrapper {
    padding: 24px 0 32px;
  }
}
@media (min-width: 1440px) {
  .main-header__logo-wrapper {
    padding: 53px 0 29px;
  }
}

.main-header__logo-link {
  display: block;
}

@media (min-width: 768px) {
  .main-header__toggle {
    display: none;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .main-nav__list {
    flex-direction: row;
    justify-content: flex-end;
    min-width: 470px;
  }
}
@media (min-width: 768px) {
  .main-nav__list {
    min-width: 570px;
  }
}

.main-nav__link {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  display: block;
  padding: 22px 0 24px;
}
@media (min-width: 768px) {
  .main-nav__link {
    padding: 10px 0;
  }
}

.main-nav__item--last {
  margin-right: 0;
}
@media (max-width: 767px) {
  .main-nav__item--last {
    border-bottom: 1px solid #e6e6e6;
  }
}
@media (min-width: 768px) {
  .main-nav__item {
    margin-right: 35px;
  }
}
@media (max-width: 767px) {
  .main-nav__item {
    border-top: 1px solid #e6e6e6;
    width: 100%;
    text-align: center;
  }
}

.main-index__hero {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .main-index__hero {
    margin-bottom: 0;
  }
}

.main-index__meal-program {
  margin-bottom: 20px;
}

.main-index__advantages {
  margin-bottom: 49px;
}

.hero {
  position: relative;
}
@media (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(105, 183, 56, 0.85), rgba(105, 183, 56, 0.85)), url("../img/background/barsik.jpg");
    background-repeat: no-repeat;
    background-size: 100% 63%;
  }
}

.hero__wrapper {
  padding-top: 25px;
}
@media (min-width: 768px) {
  .hero__wrapper {
    padding-top: 30px;
    padding-left: 90px;
    padding-bottom: 526px;
  }
}
@media (min-width: 1440px) {
  .hero__wrapper {
    padding-top: 82px;
    padding-left: 80px;
    padding-bottom: 267px;
  }
}

.hero__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .hero__title {
    color: #000000;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 41px;
  }
}

.hero__slogan {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-bottom: 29px;
}
@media (min-width: 768px) {
  .hero__slogan {
    color: #000000;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 50px;
  }
}

.hero__img {
  display: block;
}
@media (min-width: 768px) {
  .hero__img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
}
@media (min-width: 1440px) {
  .hero__img {
    top: 0;
    right: -22%;
  }
}

.hero__button {
  width: 280px;
}
@media (min-width: 768px) {
  .hero__button {
    width: max-content;
  }
}

.button {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #68b738;
  padding: 14px 26px;
  border: none;
}
.button--show-all {
  background-color: #f2f2f2;
  color: #444444;
}

.meal-program__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 20px;
}
@media (min-width: 768px) {
  .meal-program__list {
    gap: 30px;
  }
}
@media (min-width: 1440px) {
  .meal-program__list {
    grid-template-columns: 570px 570px;
    gap: 80px;
  }
}

.program-card {
  background-color: #f2f2f2;
}

.program-card__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
}

.program-card__description {
  margin: 0;
}

.program-card__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  display: block;
  padding: 4px 49px 4px 0;
}

.advantages__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 20px;
}
@media (min-width: 768px) {
  .advantages__list {
    grid-template-columns: 247px 247px;
    gap: 37px 136px;
  }
}
@media (min-width: 1440px) {
  .advantages__list {
    grid-template-columns: 247px 247px 247px 247px;
    gap: 77px;
  }
}

.example {
  background-color: #eaeaea;
  padding-top: 25px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .example {
    padding-top: 43px;
    padding-bottom: 110px;
  }
}
@media (min-width: 1440px) {
  .example {
    padding-top: 70px;
    padding-bottom: 75px;
  }
}

.example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}

.example__description {
  margin: 0;
  margin-bottom: 20px;
}

.example__results {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .example__results-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
.example__number {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}

.example__results-description {
  font-size: 12px;
  line-height: 12px;
}

.example__cost {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 40px;
}

@media (min-width: 1440px) {
  .example__wrapper {
    display: grid;
    grid-template-columns: 660px 560px;
  }
}
.cat-slider__img {
  display: block;
}

.cat-slider__caption {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.contacts {
  padding-top: 26px;
}

.contacts__deals-offer {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
}

.contacts__address {
  line-height: 20px;
  font-style: normal;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .contacts__wrapper {
    margin: 0 auto;
    width: 320px;
    padding: 0 20px;
  }
}
@media (min-width: 768px) {
  .contacts__wrapper {
    margin: 0 auto;
    width: 768px;
    padding: 0 30px;
  }
}

@media (min-width: 1440px) {
  .contacts {
    padding-top: 95px;
    position: relative;
    min-height: 400px;
    z-index: 0;
  }

  .contacts__wrapper {
    padding: 56px 80px;
    min-height: 198px;
    width: 565px;
    background-color: #ffffff;
    margin: 0;
  }

  .contacts__content {
    width: 1440px;
    padding: 0 110px;
    margin: 0 auto;
  }
}
.map__img {
  display: block;
  object-fit: cover;
  width: 100%;
}

@media (min-width: 1440px) {
  .map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
.main-footer {
  background-color: #f2f2f2;
}

.main-footer__logo-link {
  display: block;
  padding: 39px 0 31px;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .main-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

.social {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social__link {
  display: block;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .copyright {
    width: 163px;
  }
}

.copyright__link {
  text-decoration: none;
  color: #444444;
  display: inline-block;
  font-size: 16px;
}

.copyright__logo-link {
  display: block;
}

.title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 0;
}

.main-catalog__title {
  margin-top: 27px;
  margin-bottom: 41px;
}

.main-catalog__contacts {
  background-color: #f2f2f2;
}

.main-catalog__add-catalog {
  margin-bottom: 35px;
}

@media (max-width: 767px) {
  .main-catalog__title-wrapper {
    border-bottom: 1px solid #ebebeb;
    padding-top: 27px;
    padding-bottom: 41px;
  }

  .main-catalog__title {
    width: 320px;
    padding: 0 20px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .main-catalog__title {
    width: 768px;
    padding: 0 30px;
    margin: 0 auto;
  }

  .main-catalog__title-wrapper {
    margin-top: 32px;
    margin-bottom: 82px;
  }

  .main-catalog__add-catalog {
    margin-bottom: 76px;
  }
}
@media (min-width: 1440px) {
  .main-catalog__title {
    width: 1440px;
    padding: 0 110px;
    margin: 0 auto;
  }

  .main-catalog__title-wrapper {
    margin-top: 45px;
    margin-bottom: 84px;
  }

  .main-catalog__add-catalog {
    margin-bottom: 86px;
  }
}
.basic-catalog__item {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.basic-catalog__list {
  display: grid;
  gap: 19px;
}

@media (max-width: 767px) {
  .basic-catalog__card-wrapper {
    border-bottom: 1px solid #ebebeb;
  }
}
@media (min-width: 768px) {
  .basic-catalog__list {
    width: 768px;
    padding: 0 30px;
    margin: 0 auto;
    margin-bottom: 68px;
    grid-template-columns: 324px 324px;
    gap: 139px 60px;
  }

  .basic-catalog__item {
    width: 324px;
    padding: 0 36px 41px 36px;
    background-color: #f2f2f2;
  }
}
@media (min-width: 1440px) {
  .basic-catalog__list {
    width: 1440px;
    padding: 0 110px;
    margin-bottom: 76px;
    grid-template-columns: 245px 245px 245px 245px;
    gap: 143px 80px;
  }

  .basic-catalog__item {
    width: 245px;
    padding: 0 30px 40px 35px;
  }
}
.product-card__link-img {
  display: block;
}

.product-card__link-title {
  display: block;
  text-decoration: none;
}

.product-card__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

.product-card__description {
  font-size: 12px;
  line-height: 16px;
}

.show-all-card__offer {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
}

.show-all-card__offer-count {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

.add-catalog__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  width: 320px;
  margin: 0 auto;
}

.add-catalog__title-line {
  margin: 0;
  display: inline-block;
  background-color: #ffffff;
  padding: 0 23px 0 20px;
}

.add-catalog__title-wrapper {
  position: relative;
}
.add-catalog__title-wrapper::after {
  display: block;
  content: "";
  position: absolute;
  top: 16px;
  right: 0;
  height: 2px;
  background-color: #68b738;
  z-index: -1;
  width: 70%;
}

.add-catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 35px;
}

.add-catalog__stock {
  background-image: linear-gradient(rgba(105, 183, 56, 0.85), rgba(105, 183, 56, 0.85)), url("../img/background/cat-case.jpg");
}

.add-catalog__stock-description {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
}

@media (min-width: 768px) {
  .add-catalog__list {
    margin-bottom: 69px;
  }

  .add-catalog__title {
    width: 708px;
  }

  .add-catalog__title-line {
    padding: 0 36px 0 37px;
  }

  .add-catalog__title-wrapper::before {
    display: block;
    content: "";
    position: absolute;
    top: 16px;
    left: 0;
    height: 2px;
    background-color: #68b738;
    z-index: -1;
    width: 40%;
  }
}
@media (min-width: 1440px) {
  .add-catalog__wrapper {
    display: grid;
    grid-template-columns: 896px 245px;
    gap: 80px;
  }

  .add-catalog__list {
    margin-bottom: 0;
  }

  .add-catalog__title-line {
    padding: 0 35px 0 40px;
  }

  .add-catalog__title {
    width: 1300px;
  }
}
.add-product {
  padding: 13px 0 19px;
  border-top: 1px solid #cdcdcd;
}
.add-product--last {
  border-bottom: 1px solid #cdcdcd;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .add-product {
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    padding: 26px 38px 28px;
  }
}
@media (min-width: 1440px) {
  .add-product {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .add-product__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.add-product__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
}

.add-product__description {
  line-height: 20px;
  display: flex;
  justify-content: space-between;
}

.add-product__button {
  width: 100%;
}
@media (min-width: 1440px) {
  .add-product__button {
    width: 245px;
  }
}

.main-form__contacts {
  background-color: #f2f2f2;
}

.program-select__title {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  margin-top: 27px;
  margin-bottom: 37px;
}

.program-select__form-group {
  border: none;
  padding: 0;
  margin: 0;
  position: relative;
}
.program-select__form-group--comment {
  display: grid;
  gap: 38px;
}

.program-select__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 39px;
}

.program-select__form-control {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  color: #444444;
}
.program-select__form-control--radio {
  color: #222222;
}
.program-select__form-control--checkbox {
  color: #000000;
}

.program-select__form-group-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  width: 320px;
  padding: 0;
  margin: 0 auto;
}

.program-select__title-line {
  display: inline-block;
  max-width: 227px;
  padding: 0 20px;
  margin: 0;
  background-color: #ffffff;
}

.program-select__title-line::after {
  display: block;
  content: "";
  position: absolute;
  top: 16px;
  right: 0;
  height: 2px;
  background-color: #68b738;
  z-index: -1;
  width: 70%;
}

.program-select__form-group-comment {
  display: grid;
  gap: 38px;
}

.program-select__form-hint {
  text-align: center;
  margin: 0;
}

.program-select__filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 13px;
}
.program-select__filter-list--add {
  padding: 0 20px;
  margin: 0 auto;
}

.program-select__info-input {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}
.program-select__info-input::placeholder {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #444444;
}
.program-select__info-input--comment {
  resize: none;
  width: 280px;
  margin: 0 auto;
}
.program-select__info-input--comment::placeholder {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;
}

.program-select__contact-wrapper {
  display: grid;
  gap: 15px;
}

.program-select__button-wrapper {
  display: grid;
  gap: 28px;
}

@media (max-width: 767px) {
  .program-select__line-wrapper {
    border-bottom: 1px solid #ebebeb;
  }

  .program-select__form-group--centered {
    width: 320px;
    padding: 0 20px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .program-select__title {
    width: 768px;
    padding: 0 70px;
    margin-top: 33px;
    margin-bottom: 54px;
  }

  .program-select__description {
    margin-bottom: 66px;
  }

  .program-select__filter-list {
    gap: 18px;
  }

  .program-select__filter-list--purpose {
    border: 1px solid #e7e7e7;
  }

  .program-select__form-group--comment {
    gap: 76px;
  }

  .program-select__form-group-title {
    width: 708px;
  }

  .program-select__title-line::before {
    display: block;
    content: "";
    position: absolute;
    top: 16px;
    left: 0;
    height: 2px;
    background-color: #68b738;
    z-index: -1;
    width: 40%;
  }

  .program-select__filter-list--add {
    grid-template-columns: 283px 283px;
    gap: 32px 62px;
    padding: 0 70px;
    margin: 0 auto;
  }

  .program-select__info-input--comment {
    width: 631px;
  }

  .program-select__button-wrapper {
    display: grid;
    grid-template-columns: 283px 283px;
    gap: 32px;
  }

  .program-select__title-line {
    max-width: max-content;
    padding: 0 40px;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .program-select__form-group--centered {
    width: 768px;
    padding: 0 70px;
    margin: 0 auto;
  }

  .program-select__description {
    padding: 0 70px;
  }

  .program-select__contact-wrapper {
    padding: 0 70px;
    gap: 20px;
  }

  .program-select__button-wrapper {
    padding: 0 70px;
  }
}
@media (min-width: 1440px) {
  .program-select__title {
    width: 1440px;
    padding: 0 110px;
    margin-top: 44px;
    margin-bottom: 56px;
  }

  .program-select__wrapper {
    width: 1440px;
    padding: 0 110px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 568px 568px;
    gap: 81px;
  }

  .program-select__contact-wrapper {
    grid-template-columns: 568px 568px;
    gap: 81px;
  }

  .program-select__filter-list--add {
    grid-template-columns: 244px 244px 244px 244px;
    gap: 81px;
    padding: 0 110px;
    margin: 0 auto;
  }

  .program-select__info-input--comment {
    width: 1220px;
  }

  .program-select__button-wrapper {
    grid-template-columns: 568px 568px;
    gap: 81px;
  }

  .program-select__form-group-title {
    width: 1300px;
  }
}
/*# sourceMappingURL=style.css.map */